*{box-sizing: border-box;}

body{
    margin:0;
    font-family: sans-serif;
    font-size: 16px;
    color:#222328;
}
a,a:link{
    text-decoration:none;
    color:#222328;
}
a:hover{
    color:#52545e;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
.container{
    width:1200px;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
}
header{
    height:100px;
    display:flex;
    justify-content: space-between;  /*header 안 양쪽에 logo 와 nav를 넣기위함*/
    align-items: center;
    background-color:pink;
    padding-left:30px;
    padding-right:30px;
}
nav{
    width:700px;
    
}

ul.gnb{
    display:flex;
    
}
ul.gnb>li{
    position:relative;
    width:25%;  /*부모태그 ul의 width를 따라간다*/
}
ul.gnb>li>a{  /*a태그는 인라인이지만 block을 줘서 text-align과 height, size등을 먹게한다.*/
    display:block;
    text-align:center;
    line-height: 40px;
    font-size:18px;
    font-weight:bold;
    transition: all 400ms; /*애니메이션에(hover,click..등등) 관해 모든걸 400밀리초로 시전한다*/
 } 
 ul.gnb>li:hover{
     background:#52545e;
 }
 ul.gnb>li:hover>a{  /*a태그는 아래에있어서 hover가 안 먹는다 hover했을 때 a에게 라는 명령어를 직접 해줘야함*/
     color:#fff;
 }
 ul.lnb{
     width:100%;
     position:absolute;
     z-index:5;
     background-color:rgb(255, 225, 230);
     top:40px;
     padding-top:20px;
     padding-bottom:20px;
     display:none;
 }
 ul.lnb>li{
     width:100%;
     padding:0 15px;
 }
 ul.lnb>li:hover{
     background:#52545e;
 }
 ul.lnb>li:hover a{ /*a태그는 아래에있어서 hover가 안 먹는다 hover했을 때 a에게 라는 명령어를 직접 해줘야함*/
     color:#fff;
 }
 ul.lnb>li>a{
     display:block;
     line-height:40px;
     text-align:center;
     font-size:18px;
     font-weight:normal;
     transition: all 400ms;
 }
 .hero{
     height:300px;
     overflow:hidden; /*실제로는 이미지3개가 세로로 붙어있지만 부모박스에 overflow를 줘서 1개만 보이게한다.*/
     position:relative;
 }
 .heroin{
    width:1200px;
    height:900px;
    position:absolute;
    top: 0;
    left:0;
 }
 .heroin img{
    float:left;
 }
 .main{
     height:200px;
     display:flex;
 }
 .tabsbox{
    width:36%;
    height:200px;
 }
 .banner,.quick{
    width:32%;
    height:200px;
 }
 .banner{
    background-color:rgba(255, 225, 230, 0.2);
 }
 .quick{
    background-color:rgba(255, 225, 230, 0.2);
 }
 .tabnav{
    margin-top:8px;
    display:flex;
 }
 .tabnav li{
    background-color:#b9bbc7;
    padding:8px 20px;
 }
 .tabnav li a{
    color:#7a7c88;
 }
 .tabnav li.active{
    background-color:rgba(255, 225, 230);
 }
 .tabnav li.active a{
    color:#222328;
    font-weight:bold;
 }
 .tab{
    background-color:rgba(255, 225, 230);
    padding:15px 20px;
    display:none;
 }
 .tab.active{
    display:block; /*active가 있는 notice클래스만*/
 }

 /**************** notice ****************/
 #notice li:hover{
    background:rgb(255, 174, 187);
    transition: all 0.3s;
 }
 #notice li{
    border-bottom:1px dashed #b9bbc7;
 }
 #notice li a{
    display:block;
    line-height:24px;
    
 }
 #gallery::after{
    content:"";
    display:table;
    clear: both;
 }
 .col{
    float:left;
    width:33.3333%;
    padding: 12px 15px;
 }
 .col img{
    max-width:100%;
 }
 footer{
     height:100px;
     background-color:#222328;
     display:flex;
     justify-content: space-between;  /*header 안 양쪽에 logo 와 nav를 넣기위함*/
     
     padding-left:30px;
     padding-right:30px;
 }

 .popup{
    width:400px;
    height:300px;
    border: 1px solid #eee;
    position:fixed;
    top:180px;
    left: calc(50% - 200px);
    background:#fff;
    border-radius: 10px;
    box-shadow:0 0 15px 0 rgb(0, 0, 0, 0.1);
    z-index:999;
    padding:30px;
    display:none;
 }

 .close{
    position:absolute;
    padding:5px 15px;
    bottom:30px;
    left: 50%;
    transform: translateX(-50%);
 }
 .banner img{
   height:66.6px;
   width:384px;
   float:left;
 }

 .banner img::after{
   content: "";
   display:table;
   clear:both;
 }
.logo-box{
   width:200px;
   height:100px;
   
}
.logo2{
   display:inline-block;
   margin-top:30px;
 }
 .copy-box{
   width:800px;
   text-align: center;
   color:#fff;
   height:100px;
 }
 .img-box{
   width:200px;
   height:100px;
   display:flex;
 }
 .img-box img{
   width:66.6666px;
 }
 .copy-box p{
   margin-top:60px;
 }
